@model CommentsModel
@{
    ViewData["Title"] = "Delete Comment";
}

<h2>Confirm Deletion</h2>

<form asp-action="DeleteComment" method="post">
    <input type="hidden" asp-for="CommentId" />
    <input type="hidden" asp-for="StoryId" />
    
    <button type="submit" class="btn btn-primary">Delete Comment</button>
    <a asp-controller="Stoires" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
