@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Double Stitch</h1>
</div>

<ol>
    <li>
        Start with a slip knot and chain as may stitches as you want, plus three extra stitches for the double crochet.
    </li>
    <li>
        Yarn over and insert the hook into the third or fourth chain from the hook (if your chains are large, insert hook third from hook, if your chains are small, insert hook fourth from hook).
    </li>
    <li>
        Yarn over and pull through the chain.
    </li>
    <li>
        Yarn over and pull through two loops. Yarn over again and pull through the last two loops.
    </li>
    <li>
        Chain three, and insert hook into the second stitch from the hook.
    </li>
    <li>
        Repeat 3-5 until your project reaches your desired length.
    </li>
</ol>
    
<div class="text-center">
    <p>
        If you need a visual of how to crochet the Double Stitch, take a look at the video down
        below. If you have trouble viewing the video, you can view it at: <br />
        <a href="https://www.youtube.com/UyTpL2ylNQw">How to Crochet a Double Stitch</a>
    </p>

    <p>
        <iframe width="320" height="240" src="https://www.youtube.com/embed/UyTpL2ylNQw" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" Fullscreen></iframe>
    </p>

    <p>
        <a asp-controller="Stitches" asp-action="Index" class="btn btn-dark">Back</a>
    </p>
</div>