@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Half Double</h1>
</div>
    
<ol>
    <li>
        Start with a slip knot and chain as many stitches as you want.
    </li>
    <li>
        Yarn over and insert the hook into the third chain from the hook.
    </li>
    <li>
        Yarn over and pull through the chain. Yarn over and pull through all three loops
        on the hook.
    </li>
    <li>
        Repeat until you reach the end of the row. Chain three.
    </li>
    <li>
        Yarn over and insert your hook into the second stitch from the hook.
    </li>
    <li>
        Repeat steps 3-5 until you reach the desired length of your project.
    </li>
</ol>

<div class="text-center">
    <p>
        If you need a visual of how to crochet the Half Double Stitch, take a look at the video down
        below. If you have trouble viewing the video, you can view it at: <br />
        <a href="https://www.youtube.com/mTpG3AMJeAQ">How to Crochet a Half Double Stitch</a>
    </p>

    <p>
        <iframe width="320" height="240" src="https://www.youtube.com/embed/mTpG3AMJeAQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" Fullscreen></iframe>
    </p>
    <p>
        <a asp-controller="Stitches" asp-action="Index" class="btn btn-dark">Back</a>
    </p>
</div>