@{
    ViewData["Title"] = "Stitches";
}

<div class="text-center">
    <p>Want to learn how to chain? Click the button below!</p>
    <a asp-controller="Stitches" asp-action="ChainStitch" class="btn btn-primary">Chain Stitch</a><br />
    <p>Click the button below to learn the single stitch!</p>
    <a asp-controller="Stitches" asp-action="SingleStitch" class="btn btn-primary">Single Stitch</a><br />
    <p>Click the button below to learn the half double stitch!</p>
    <a asp-controller="Stitches" asp-action="HalfDoubleStitch" class="btn btn-primary">Half Double Stitch</a><br />
    <p>Click the button below to learn the double stitch!</p>
    <a asp-controller="Stitches" asp-action="DoubleStitch" class="btn btn-primary">Double Stitch</a> <br />
    <p>Click the button below to learn the triple stitch!</p>
    <a asp-controller="Stitches" asp-action="TripleStitch" class="btn btn-primary">Triple Stitch</a>
</div>

