@{
    ViewData["Title"] = "Stitches";
}

<div class="text-center">
    <a asp-controller="Stitches" asp-action="ChainStitch">Chain Stitch</a>
    <a asp-controller="Stitches" asp-action="SingleStitch">Single Stitch</a>
    <a asp-controller="Stitches" asp-action="HalfDoubleStitch">Half Double Stitch</a>
    <a asp-controller="Stitches" asp-action="DoubleStitch">Double Stitch</a>
    <a asp-controller="Stitches" asp-action="TripleStitch">Triple Stitch</a>
</div>