@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>
        Single Stitch
    </h1>
</div>

<ol>
    <li>
        Start by making a slip knot on your crochet hook.
    </li>
    <li>
        Crochet a foundation of any length.
    </li>
    <li>
        Insert your hook into the second chain from the hook.
    </li>
    <li>
        Yarn over and pull up a loop. You should now have two loops on your hook.
    </li>
    <li>
        Yarn over again and pull through both loops on the hook.
    </li>
    <li>
        Repeat until you reach the end the row. Chain one.
    </li>
    <li>
        Repeat steps 1-6 until you reach the desired length of your project.
    </li>
</ol>

<div class="text-center">
    <p>
        If you need a visual of how to crochet the Single Stitch, take a look at the video down
        below. If you have trouble viewing the video, you can view it at: <br />
        <a href="https://www.youtube.com/fmcxJuhct00">How to Crochet a Single Stitch</a>
    </p>

    <p>
        <iframe width="320" height="240" src="https://www.youtube.com/embed/fmcxJuhct00" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" Fullscreen></iframe>
    </p>
    <p>
        <a asp-controller="Stitches" asp-action="Index" class="btn btn-dark">Back</a>
    </p>
</div>