@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Triple Stitch</h1>
</div>

<ol>
    <li>
        Start with a slip knot and create your starting chain.
    </li>
    <li>
        Yarn over twice.
    </li>
    <li>
        Insert the hook into the fifth chain from the hook.
    </li>
    <li>
        Yarn over and pull up a loop.
    </li>
    <li>
        Yarn over and pull through two loops.
    </li>
    <li>
        Yarn over again and pull through two loops.
    </li>
    <li>
        Yarn over one last time and pull through the remaining two loops.
    </li>
    <li>
        Chain four, yarn over twice, and repeat steps 4-7 until your project reaches your
        desired length
    </li>
</ol>

<div class="text-center">
    <p>
        If you need a visual of how to crochet the Triple Stitch, take a look at the video down
        below. If you have trouble viewing the video, you can view it at: <br />
        <a href="https://www.youtube.com/CBMmiMMtx6o">How to Crochet a Triple Stitch</a>
    </p>

    <p>
        <iframe width="320" height="240" src="https://www.youtube.com/embed/CBMmiMMtx6o" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" Fullscreen></iframe>
    </p>

    <p>
        <a asp-controller="Stitches" asp-action="Index" class="btn btn-dark">Back</a>
    </p>
</div>