@model StoryModel
@{
    ViewData["Title"] = "Delete Story";
}

<h2>Confirm Deletion</h2>
<h3>@Model.StoryTitle</h3>

<form asp-action="Delete" method="post">
    <input type="hiden" asp-for="StoryId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Stories" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>